.sc-launcher.opened {
    display: none;
}

.sc-chat-window {
    height: auto;
    justify-content: flex-end;
}

.sc-chat-window.opened {
    right:0;
    position: inherit;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    height: 50vh;
    border-left: #caccd1 solid 1px;
    border-top: #caccd1 solid 1px;

    & .sc-message-list {
        padding: 0;
        height: 100%;
    }
}

.sc-header--close-button {
    display: none;
}

.sc-message {
    width: 100%;
}

.sc-user-input--file-icon-wrapper {
    display: none;
}

.sc-header {
    display: none;
}

.sc-header--img {
    padding: 0;
    border-radius: 0;
}

.sc-header--team-name {
    padding: 0;
    border-radius: 0;
}

.sc-message--content.sent {
    justify-content: flex-start;
    padding-left: 5px;
}

.sc-message--content.sent .sc-message--text {
    width: 100%;
    max-width: 100%;
    background: none;
    color: black;
    padding: 2px 2px;
    font-family: monospace;
    font-size: 1rem;
    word-wrap: anywhere;
}

.sc-user-input--text {
    border-radius: 0;
    border: #caccd1 solid 1px;
}