.sc-launcher.opened {
    display: none;
}

.sc-chat-window.opened {
    right:0;
    position: inherit;
    width: auto;
    height: 450px;
    max-height: 450px;
}

.sc-header--close-button {
    display: none;
}

.sc-message {
    width: auto;
}

.sc-user-input--file-icon-wrapper {
    display: none;
}

.sc-header {
    min-height: 60px;
    padding: 3px;
    background: #343a40;
}

.sc-header--team-name {
    font-size: 20px;
}

.sc-message--content.sent {
    justify-content: flex-start;
    padding-left: 5px;
}

.sc-message--content.sent .sc-message--text {
    width: 250px;
    max-width: 250px;
    background: #dee2e6;
    color: black;
    padding: 8px 8px;
    font-family: monospace;
}