.navigation {
    background-color: #a51890;
}

.navigation .navbar-brand,
.navigation .navbar-text {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 0 0 3rem;
  background-image: url("/collab-sketch-logo.svg");
  background-repeat: no-repeat;
  color: #f5f5f5;
}

.navigation {
  & .form-inline {
    & .nav-button, .nav-button:hover, .nav-button:active {
      background-color: #efdf00;
      color: #00205b;
      font-size: 1.2rem;
      width: 10rem;
      text-align: center;
      margin: 0 5px;
    }
  }
}
