@import "src/variables";

.players-list {
    width: 100%;
    max-height: 42vh;
    overflow-y: auto;
    font-size: 1.2rem;
    border: #caccd1 solid 1px;

    & .current {
        font-weight: bold;
        font-size: 1.3rem;
    }

    & .players-list__header {
        font-size: 1.3rem;
        text-align: center;
        background-color: $brand-color-primary;
        color: #f5f5f5;
    }

    & .icon {
        width: 1.5rem;
        height: 1.5rem;
    }
}

.score {
    float: right;
}

.list-group-item {
    padding: 8px !important;
}