.board {
    border-collapse: collapse;
    font-family: monospace;
    display: flex;
    margin: 10px;
}

.read-only-canvas__artist-name {
    position: absolute;
    color: white;
    background-color: #343a40;
    opacity: 0.6;
    padding: 5px;
    border-bottom-right-radius: 5px;
    font-size: large;
}

.word {
    margin-top: 5px;
    height: 51px;
    left: 280px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}