.board {
    border-collapse: collapse;
    font-family: monospace;
    display: flex;
    margin-left: 10px;

    & .word {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        padding-top: 1vh;
        height: 5vh;
    }
}

.main {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & .notification {
        height: 4vh;
        font-size: 1.5rem;
        font-weight: bold;
        color: #f5f5f5;
        background-color: #008eaa;
        padding: 0.2rem 1rem;
        border-radius: 1vh;
    }
}

.sidebar {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
