.board {
    border-collapse: collapse;
    font-family: monospace;
    display: flex;
    margin-left: 10px;

    & .word {
        position: relative;
        font-size: 1.5rem;
        font-weight: bold;
        height: 5vh;
        padding-top: 1rem;
    }
}

.sidebar {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
