.players-list {
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;

    & .players-list__header {
        background-color: #a51890;
        color: #f5f5f5;
    }
}

.score {
    float: right;
}

.list-group-item {
    padding: 8px !important;
}