.quote {
    width: 60rem;
    margin: 50px auto 50PX;
    padding-left: 4rem;
    padding-top: 80px;
    padding-bottom: 80px;
}

.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 1.4 !important;
    background: none;
    font-family: Georgia, serif;
    font-size: 2rem;
    font-style: italic;
    margin: 0;
    position: relative;
    text-shadow: 0 1px white;
    z-index: 600;
    color: #52565e;;
}

.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #81bedb;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}

.testimonial-quote cite {
    display: block;
}

.testimonial-quote cite span {
    color: #52565e;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 0 1px white;
}

.testimonial-quote {
    position: relative;
}

.testimonial-quote .quote-container {
    padding-left: 10rem;
}

.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 10rem;
}

.testimonial-quote.right cite {
    text-align: right;
}