.count-down-timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #efdf00;
    font-size: 1.5rem;
    z-index: 1200;
}

.count-down-timer .time {
    margin-left: 5px;
}

