.count-down-timer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #efdf00;
    font-size: 1.5rem;
    z-index: 1200;
    position: absolute;
    padding-top: 1vh;
    top: 0;
    left: 48vw;
}

.count-down-timer .time {
    margin-left: 5px;
}

