.waiting-info {
    margin-top: 20px;
}

p.waiting-text {
    color: darkgray;
    font-family: Georgia, serif;
    font-size: 1.3rem;
}

.share-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
}

.share-info-container > label {
    color: darkgoldenrod;
    font-size: 1.5rem;
}