.start-game-button {
    width: 150px;
    margin: 20px auto auto;
}
.waiting-info {
    margin-top: 20px;
}
p.waiting-text {
    color: darkgray;
    font-family: Georgia, serif;
}

.share-game-link {
    display: block;
    float: left;
    border-right: black dashed 1px;
    vertical-align: text-top;
    background-color: aliceblue;
    padding: 1px 5px 0px 5px;
    font-size: 2rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.share-info {
    border: blue solid 2px;
    border-radius: 15px;
    display: inline-block;
    margin: auto;
}

.clipboard {
    display: block;
    float: left;
    padding: 10px;
}

