
.waiting-info {
    margin-top: 20px;
}
p.waiting-text {
    color: darkgray;
    font-family: Georgia, serif;
}

.share-game-link {
    margin: 0;
    border-right: darkgoldenrod solid 1px;
    padding: 1px 5px;
    font-size: 2rem;
}

.share-info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.share-info-container > label {
    color: darkgoldenrod;
    font-size: 1.5rem;
}

.share-info {
    border: darkgoldenrod solid 2px;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.clipboard {
    padding: 10px;
    background-color: #e9ecef;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
}

.start-game-button-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-game-button {
    padding: 10px;
    border: darkgoldenrod solid 2px;
    border-radius: 41px;
    background-color: #e9ecef;
    cursor: pointer;
}

.start-game-hint {
    color: darkgray;
}

