.board {
    border-collapse: collapse;
    font-family: monospace;
    display: flex;
    margin: 20px;
}

.canvas {
    display: block;
    width: 680px;
    min-height: 700px;
    border: 2px solid #5a6268;
}

.svg-container {
    display: block;
    width: 680px;
    border: 2px solid #5a6268;
    min-height: 700px;
    background-color: #ddd;
}

.count-down-timer {
    position: absolute;
    vertical-align: center;
    left: 700px;
    top: -55px;
    width: 50px;
}

.CircularProgressbar .CircularProgressbar-text{
    font-size: 40px !important;
}

.word {
    left: 280px;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    bottom: 10px;
}