.leader-board-container {
    background: linear-gradient(rgba(66, 152, 181, 0.6), rgba(66, 152, 181, 0.5)), url("/leader-board-bg.jpg");
    height: 95vh;
}

.leader-board {
    height: 95vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
}

.winner {
    padding-top: 5vh;
    padding-bottom: 2vh;
    display: flex;
    justify-content: center;
}

.leader-board-body {
    width: 40vw;
    overflow-y: scroll;
}

.players {
    max-height: 50vh;
    overflow-y: scroll;
}

.winner h2 {
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
}

.leader-board-header {
    height: 60px;
    background: rgba(165, 25, 144, 0.85);
    text-align: center;
    border-radius: 5px 5px 0 0;
}
.leader-board-header h2 {
    margin: 0;
    color: #fefefe;
    padding-top: 10px;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}

.col-header {
    background: rgba(254, 254, 254, 0.9);
    margin: 0 !important;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px;
}
.col-header h4 {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight:bold;
}

.users {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    background: #fefefe;
    margin: 0 !important;
    padding: 5px;
    text-align: center;
}

.users h4 {
    font-family: "Montserrat", sans-serif;
}

.users .rank {
    padding-left: 6px;
}

.users:nth-of-type(odd) {
    background: rgba(254, 254, 254, 0.9);
}
.users:nth-of-type(even) {
    background: rgba(240, 240, 240, 0.9);
}
.users:last-child {
    border-radius: 0 0 5px 5px;
}