.canvas {
  display: block;
  width: 40vw;
  height: 85vh;
  border: 2px solid #caccd1;
}
.literally {
  background-color: #ffffff;

  & .lc-options, .lc-picker {
    background-color: #ffffff;
  }

  & .lc-picker {
    border-right: 1px solid #caccd1;
  }
}

.literally.toolbar-at-bottom {
  & .lc-options {
    border-top: 1px solid #caccd1;
  }
}
