@import "src/variables";

.svg-container {
    display: block;
    width: 40vw;
    border: 2px solid #caccd1;
    height: 88vh;
    background-color: #ffffff;
}

.svg-container img {
    max-width: 100%;
    max-height: 100%;
}

.read-only-canvas__artist-name {
    position: absolute;
    color: $color-dark;
    background-color: #aaaaaa;
    padding: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
}
