
$brand-color-primary: #520099;

$brand-color-yellow: #efdf00;

$brand-color-green: #84bd00;

$bg-color-primary: #f3f4f7;

$color-light: #f5f5f5;
$color-dark: #00205b;

$border-color-primary: #caccd1;

$z-index-override: 1200;

$content-height: 95vh;
